extends layout
block content
  h1= title
  form(id='searchresultsForm', action="/resource/searchresults", method="POST")
    div.form-group
      label.searchresultsAttr(for='name') NuggetsName
      input#name(type='text', name='name')
    div.form-group
      label.searchresultsAttr(for='size') NuggetsSize
      input#size(type='text', name='size')
    div.form-group
      label.searchresultsAttr(for='price') NuggetsPrice
      input#price(type='number', name='price')
    button#btnId(type='button') Submit
  script.
    document.forms['searchresultsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Save succeeded");
          // TODO handle body
        })
        .catch((error) => {
          // TODO handle error
          alert("Save failed: " + error);
        });
    });
