extends layout

block content
  h1(style='color: #3498db;')= title
  form(id='searchresultsForm', action="/resource/searchresults", method="POST")
    div.form-group
      label.searchresultsAttr(for='name' style='color: red;') NuggetsName
      input#name(type='text', name='name', class='form-control')
    div.form-group
      label.searchresultsAttr(for='size' style='color: green;') NuggetsSize
      input#size(type='text', name='size', class='form-control')
    div.form-group
      label.searchresultsAttr(for='price' style='color: yellow;') NuggetsPrice
      input#price(type='number', name='price', class='form-control')
    button#btnId(type='button', class='btn btn-primary', style='background-color: #3498db; color: #fff;') Submit
  script.
    document.forms['searchresultsForm'].addEventListener('submit', (event) => {
      event.preventDefault();
      // TODO do something here to show the user that the form is being submitted
      fetch(event.target.action, {
        method: 'POST',
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form
      })
        .then((resp) => {
          return resp.json(); // or resp.text() or whatever the server sends
        })
        .then((body) => {
          alert("Save succeeded");
          // TODO handle body
        })
        .catch((error) => {
          // TODO handle error
          alert("Save failed: " + error);
        });
    });
